@font-face {
    font-family: 'Supremely Luxurious Demo';
    src: url('../font/SupremelyLuxuriousDemo-Reg.woff2') format('woff2'),
        url('../font/SupremelyLuxuriousDemo-Reg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

