@font-face {
    font-family: 'The Yoshi';
    src: url('../font/TheYoshi.woff2') format('woff2'),
        url('../font/TheYoshi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'The Yoshi';
    src: url('../font/TheYoshi.woff2') format('woff2'),
        url('../font/TheYoshi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

